body {
    font-family: "PT Sans", sans-serif;
}

.navbar-brand {
    font-family: "Varela Round", "PT Sans", sans-serif;
}

.page-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
}

.profile-photo {
    width: 350px;
    height: 350px;
}

.profile-photo-user {
    width: 300px;
    height: 300px;
}

.card-link {
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out;
}

.card-link:hover {
    color: black;
    transform: scale(1.03);
}

.card-img-top {
    height: 230px;
}

.avatar-img {
    height: 400px;
    width: 100%;
}

.dropdown-divider {
    border-top: 1px solid #f5f6f8;
}

.nav-icon {
    margin-right: 1em;
}

.chat-box {
    height: 600px;
}

.chat-container {
    overflow-y: scroll;
}

.chat-avatar-container {
    overflow-x: scroll;
}

.chat-avatar-img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}
.chat-avatar-img:hover {
    transform: scale(1.05);
}

.chat-avatar-btn {
    padding: 0;
    border: 0;
    background-color: white;
    margin-right: 15px;
}

.msg-avatar-img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.msg-photo {
    width: 30px;
    height: 30px;
}

.msg-photo img {
    width: 100%;
    height: 100%;
}

.msg-container {
    margin-bottom: 10px;
}

.msg-box-first {
    background-color: burlywood;
    padding: 5px 10px;
    border-radius: 10px 0 10px 10px;
}

.msg-box-second {
    background-color: cornsilk;
    padding: 5px 10px;
    border-radius: 0 10px 10px 10px;
}

.msg-time {
    font-size: 0.65em;
    font-weight: bold;
    color: #787878;
    margin-top: 2px;
}

.card-header {
    display: flex;
    justify-content: space-between;
}
